# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Build artifacts
dist/
build/
.cache/

# Env files
.env
.env.*
frontend/.env.local
backend/.env

# Editor/OS
.DS_Store
.vscode/
.idea/

# Prisma
backend/prisma/*.db-journal
backend/prisma/dev.db-journal