@import "tailwindcss";



/* Base styles */
:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}
